.left-section {
  width: 23% !important;
  float: right !important;
  text-align: center !important;
  padding: 0 50px 0 0 !important;
  font-family: iransans !important;
  margin-bottom: 100px !important;
}
.left-section .img-top-left img {
  width: 75%;
  text-align: center !important;
}
.title-center-sec.left h2 {
  padding: 3px 87px !important;
  font-size: 16px !important;
}
.title-center-sec.left h3 {
  margin: 0;
  font-size: 17px !important;
  font-weight: bolder !important;
}
.left-top-sec {
  margin: 0 0 50px;
}
.filter.left-sec {
  margin: 70px 0 0 !important;
  display: inline-block;
}
#circulargauge_control_1_gauge_legend_g {
  display: none;
}
