.title-head {
  width: 100%;
}
.title-head h1 {
  font-family: iransans-bold;
  font-size: 35px;
  color: #2f5d9e;
  text-align: center;
  margin: 50px 0 !important;
}
.title-head h1::before {
  content: "";
  position: absolute;
  height: 60px;
  top: 0;
  width: 41%;
  background: url(/public/images/titleright.png) no-repeat left;
  background-size: 100px !important;
  margin: 50px 0 !important;
  right: 0;
}
.title-head h1::after {
  content: "";
  position: absolute;
  height: 60px;
  margin: 50px 0 !important;
  top: 0;
  width: 41%;
  background: url(/public/images/titleleft.png) no-repeat right;
  background-size: 100px !important;
  left: 0;
}
